<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <appSettings>
        <add key="Key_1" value="Value_1" />
        <add key="Key_2" value="Value_2" />
        <add key="Key_3" value="Value_3" />
        <add key="Key_4" value="Value_4" />
        <add key="Key_5" value="Value_5" />
        <add key="SkyboxNames" value="Skybox 1,Skybox 2,Skybox 3,Skybox 4,Skybox 5,Skybox 6,Skybox 7,Skybox 8,Skybox 9"/>
		<add key="SkyboxMaterials" value="Skybox/DiverseSpaceMaterial,Skybox/GalacticGreenMaterial,Skybox/GalaxyFireMaterial,Skybox/sky-1,Skybox/sky-2,Skybox/sky-3,Skybox/sky-5,Skybox/sky-10,Skybox/sky-12"/>
    </appSettings>
</configuration>